
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    cursor: pointer;
  }
  
 ul li a{
   text-decoration: none;
   display: block;
   text-align: center;
   border-radius: 15px;
 }
 .color{
     color: white;
     background: white;
 }



  /* Animations */
  img{
    transition: transform .3s ease;
  }
  img:hover{
    transform: scale(1.1);
  }

  
  .item{
    transition: .5s ease-in-out;
  }



  
  .btn{
    transition: transform .3s ease;
  }

  .btn:hover{
    transform: scale(1.1);
  }

